SUPABASE_URL=https://xuwyjkxiioqskdcmgzvl.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh1d3lqa3hpaW9xc2tkY21nenZsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU0MjAxMzYsImV4cCI6MjEwMDk5NjEzNn0.yH4A4liXSIh4Y_wP-WaNI7l-rHQ3PwfLc2pbbC5U9_k